.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html
application/views/cache/*
!application/views/cache/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/update/*
!/update/index.html
node_modules

upload/*
upload/cover/*
upload/ebook/*
!upload/cover
!upload/ebook
!upload/index.html
!upload/cover/index.html
!upload/ebook/index.html

.env
